.screen-settings {
    --settingsElementHeight: 42px;
    --settingsElementWidth: 260px;
    --fontSizeCoeff: 1;

    gap: var(--margin);
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "info info info"
        "size btns font";

    background-color: var(--background-2);
}

.info {
    padding: 0 var(--margin) 0 var(--margin);
    margin-bottom: var(--margin);

    border-radius: 10px;

    font-size: calc(23px * var(--fontSizeCoeff));
    text-align: center;

    background-color: hsl(240, 3%, 65%);
}

.characters-info {
    grid-area: info;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.characters-info .info {
    width: fit-content;
    font-size: calc(42px * var(--fontSizeCoeff));
}

.characters {
    width: 100%;

    font-family: epic;
    font-size: calc(54px * var(--fontSizeCoeff));
    line-height: 69px;
    white-space: normal;
    word-break: break-all;
    text-align: center;
    color: var(--green);
}

#matrix-font-checkbox:checked ~ .characters-info .characters {
    font-family: matrix;
}

.wrapper {
    width: min(var(--settingsElementWidth), 100% - 12px);
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.characters-size {
    grid-area: size;

    display: flex;
    justify-content: flex-end;
}

.characters-size .wrapper .info {
    width: calc(100% - var(--margin)*2);
    height: var(--settingsElementHeight);

    line-height: var(--settingsElementHeight);
}

.characters-size-input {
    width: min(70px, 100%);
    height: calc(var(--settingsElementHeight) - 6px);
    
    font-family: basic;
    font-size: calc(38px * var(--fontSizeCoeff));
    text-align: center;
}

.characters-font {
    grid-area: font;

    display: flex;
    justify-content: flex-start;
}

.characters-font .wrapper .info {
    width: calc(100% - var(--margin)*2);
    height: var(--settingsElementHeight);

    line-height: var(--settingsElementHeight);
}

.switch {
    --slider-margin: 3px;
	--slider-size: calc(var(--settingsElementHeight) - var(--slider-margin)*2);

    position: relative;

    width: calc(var(--slider-size)*2 + var(--slider-margin)*2) !important;
    height: calc(var(--slider-size) + var(--slider-margin)*2) !important;

    display: inline-block;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: calc(var(--slider-size) + var(--slider-margin)*2);
    background-color: hsl(332, 13%, 38%);

    -webkit-transition: background-color .3s;
    transition: background-color .3s;

    cursor: pointer;
}

.slider::before {
    position: absolute;
    content: "";
    height: var(--slider-size);
    width: var(--slider-size);

    top: var(--slider-margin);
    left: var(--slider-margin);

    background-color: hsl(240, 3%, 65%);
    border-radius: 50%;

    -webkit-transition: transform .3s;
    transition: transform .3s;
}
  
#matrix-font-checkbox:checked ~ .characters-font .switch .slider {
    background-color: hsl(148, 13%, 38%);
}
  
#matrix-font-checkbox:checked ~ .characters-font .switch .slider:before {
    transform: translateX(var(--slider-size));
    -webkit-transform: translateX(var(--slider-size));
    -ms-transform: translateX(var(--slider-size));
}

.characters-settings-btns {
    grid-area: btns;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-next-matrix {
    width: min(var(--settingsElementWidth), 100% - 14px);
    height: var(--settingsElementHeight);

    margin-bottom: var(--margin);
}

.btn-back-input {
    width: min(var(--settingsElementWidth), 100% - 14px);
    height: var(--settingsElementHeight);
}

@media (max-width: 630px) {
    .screen-settings {
        --settingsElementWidth: 180px;
        --settingsElementHeight: 30px;
        --fontSizeCoeff: .8;
    }
}

@media (orientation: portrait), (max-width: 500px) {
    .screen-settings {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 100%;
        grid-template-areas:
            "info"
            "size"
            "font"
            "btns";
    }

    .screen-settings > * {
        align-items: center;
        justify-content: center;
    }
}